
EXPO_PUBLIC_API_URL=http://192.168.1.71:8006

EXPO_PUBLIC_APP_MODE=production

EXPO_PUBLIC_PUSHER_APP_ID=1784633
EXPO_PUBLIC_PUSHER_KEY=855cd03c2d0064090ca9
EXPO_PUBLIC_PUSHER_SECRET=4dc6d63a4e90b71b0a03
EXPO_PUBLIC_PUSHER_CLUSTER=ap1